name: CI
permissions:
  contents: read
on:
  pull_request:
    branches: [main]
jobs:
  audit:
    if: startsWith(github.head_ref, 'release-please--') != true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm audit --omit=dev
  lint:
    if: startsWith(github.head_ref, 'release-please--') != true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm ci --ignore-scripts
      - run: npm run build --workspace packages/nestjs-cacheable
      - run: npm run lint
  unit-test:
    if: startsWith(github.head_ref, 'release-please--') != true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm ci --ignore-scripts
      - run: npm run test:cov
