name: Publish
permissions:
  id-token: write
  contents: read
on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
    secrets:
      node-auth-token:
        required: true
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          registry-url: https://registry.npmjs.org
      - run: npm install --ignore-scripts
      # Build nestjs-cacheable as it has dependencies
      - run: npm run build --workspace packages/nestjs-cacheable
      - run: npm run build --workspace packages/${{ inputs.package }}
      - run: cp LICENSE packages/${{ inputs.package }}/LICENSE
      - run: cp packages/${{ inputs.package }}/README.md packages/${{ inputs.package }}/build/README.md
      - run: jq '.main = "index.js" | del(.devDependencies) | del(.scripts) | del(.jest)' packages/${{ inputs.package }}/package.json > packages/${{ inputs.package }}/build/package.json
      - run: npm publish --access public packages/${{ inputs.package }}/build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.node-auth-token }}
