name: Publish
permissions:
  id-token: write
  contents: read
on:
  release:
    types: [created]
jobs:
  get-package:
    runs-on: ubuntu-latest
    outputs:
      package: ${{ steps.get-package.outputs.package }}
    steps:
      - env:
          RELEASE_NAME: ${{ github.event.release.name }}
        id: get-package
        run: echo "package=${RELEASE_NAME%%:*}" >> $GITHUB_OUTPUT
  publish:
    needs: [get-package]
    uses: ./.github/workflows/publish.yml
    with:
      package: ${{ needs.get-package.outputs.package }}
